$days-of-week: (
  "mon" : 0,
  "tue" : 1,
  "wed" : 2,
  "thu" : 3,
  "fri" : 4,
  "sat" : 5,
  "sun" : 6
);

$cell-size: 100px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  margin: 100px auto;
}

.calendar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $cell-size;
  width: $cell-size;
  margin: 0 0 1px 1px;
  font-size: 30px;
  background: #eee;
  border: 1px solid black;
  transition: all 0.5s ease;
}

.calendar > div:hover {
  transform: translateY(-20px);
  background-color: pink;
}

@each $days-week, $i in $days-of-week {
  .calendar-#{$days-week} > div:first-of-type {
    margin-left:  $i * $cell-size + $i + 1;
  }
}

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i}):after {
    content: "#{$i}";
  }

  .calendar-30 > div:last-child {
    display: none;
  }

  .calendar-29 > div:nth-child(n + 30) {
    display: none;
  }

  .calendar-28 > div:nth-child(n + 29) {
    display: none;
  }
}
